<div class="jumbotron jumbotron-fluid vh-100">
        <div class="container">
                <h1 class="display-3">Menu</h1>
                <hr>
                <div class="row mt-auto">
                        <div class="col-sm">
                                <a routerLink="/busqueda">
                                        <button class="btn btn-block btn-success">
                                                <h1>Buscador</h1>
                                        </button>
                                </a>
                        </div>
                        <div class="col-sm">
                                <a routerLink="/actor">
                                        <button class="btn btn-block btn-primary">
                                                <h1>Actores</h1>
                                        </button>
                                </a>
                        </div>
                        <div class="col-sm">
                                <a routerLink="/peliculas">
                                        <button class="btn btn-block btn-primary">
                                                <h1>Peliculas</h1>
                                        </button>
                                </a>
                        </div>
                        <div class="col-sm">
                                <a routerLink="/paises/listado"><button class="btn btn-block btn-primary">
                                                <h1>Listado paises</h1>
                                        </button></a>
                        </div>
                </div>
        </div>
</div>