
<div *ngIf='pais' class="container ">
  <div class="row m-5 justify-content-center">
    <div class="card text-dark bg-light mb-3 " style="width: 18rem;">
      <img [src]="pais.flag" class="card-img-top " alt="...">

      <div class="card-body border-light">
        <p>Nombre: {{pais.nombre}}</p>
        <p>Capital: {{pais.capital}}</p>
        <p>Region: {{pais.subregion}}</p>
      </div>
      <div class="card-footer">
        <button class="btn btn-outline-dark" (click)='deshabilitar()'>Deshabilitar Pais</button>
      </div>  
    </div>
  </div>
</div>