<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <table class="table table-hover table-condensed m-5 mx-auto">
            <thead class="thead-dark">
                <tr>
                    <th>Pais</th>
                    <th>Bandera</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let pais of paises" (click)='seleccionarPelicula(pais)'>
                    <td> <h2> {{pais.nombre}} </h2></td>
                    <td> <img [src]="pais.flag" alt="bandera" class="img-fluid img-thumbnail w-50 h-50"></td>
                </tr>

            </tbody>
        </table>
    </div>