<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-3">Paises</h1>
        <p class="lead">Listado de paises</p>
        <hr>
    </div>

    <div class="container">
        <table class="table table-hover table-condensed m-5 mx-auto">
            <thead class="thead-dark">
                <tr>
                    <th>Pais</th>
                    <th>Bandera</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let pais of paises">
                    <td>{{pais.name}} </td>
                    <td>{{pais.flag}} </td>
                </tr>

            </tbody>
        </table>
    </div>